body, center {
  background-color: #000000; /* black */
  color: #ffffff; /* white */
}

h1, h2, h3, .spookytext {
  font-family: 'Creepster', cursive; 
  text-shadow: 2px 2px #800000; /* maroon */
}

p {
  font-family: 'Cinzel', serif;
}

.pumpkin {
  background: url('https://static.vecteezy.com/system/resources/previews/009/376/328/non_2x/halloween-ghost-pumpkin-free-png.png');
  background-size: contain;
  width: 150px;
  height: 150px;
  border: none;
}

.ghost {
  background: url('https://static.vecteezy.com/system/resources/previews/027/241/493/original/fanny-cute-ghost-clipart-on-transparent-background-childish-watercolor-hand-drawn-illustration-for-holiday-cards-watercolor-ghost-with-pumpkin-shaped-bag-happy-halloween-party-png.png');
  background-size: contain;
  width: 100px;
  height: 150px;
}

.bat {
  background: url('https://marvel-b1-cdn.bc0a.com/f00000000295106/www.corkyspest.com/wp-content/uploads/2023/05/id-image-bat.png');
  background-size: contain;
  width: 80px;
  height: 50px;
}

footer {
  background-color: #800000; /* maroon */
  color: #ffffff;
}
